.product-card{
    border: 2px solid #333;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-sizing: border-box;
    height: auto;
    background-color: beige;
}

p{
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
}

img{
    max-width: 250px;
}

*{
    font-family: Arial, sans-serif;
 }

 h2{
    font-size: 24px;
    font-weight: bold;
 }

 span{
    font-size: 20px;
    color:  #ff0000;
 }

 button{
    padding: 5px;
    border: 1.5px;
    background-color: rgb(0, 255, 247);
 }
