.product-code p{
    font-size: 10px;
    color: rgb(17, 255, 0);
    font-style: italic;
    text-align: justify;
}

h3{
    font-size: 24px;
    font-weight: bold;
}

#para{
    background-color: rgb(210, 153, 129);
    line-height: 1.8;
}